.category-container{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  overflow: auto;
  flex-direction: row;
}
#category-cover{
  display: inline-block;
  width: 100%;
}
.category-cont{
  width: 600px;
  height: 404px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}
.category-cont h1{
  font-size: 60px;
}
#ctg-img{
  width: 450px;
  background-color: transparent;
  transition: all 0.25s;
}
#ctg-img:hover{
  transform: translateY(-5px);
}